<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415334777288-i5kpupu5jnnqfot02ss3af52ioqk8acm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415334777288-i5kpupu5jnnqfot02ss3af52ioqk8acm</string>
	<key>API_KEY</key>
	<string>AIzaSyCSzqkvCO0QaalJQ2w_7NgfrTj3CTckD5s</string>
	<key>GCM_SENDER_ID</key>
	<string>415334777288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nouranadel.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-2a6b9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-2a6b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415334777288:ios:f34797dc70a6cc8f3c40fd</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-2a6b9.firebaseio.com</string>
</dict>
</plist>